<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tipCalculatorAlexis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>479B42811BC4CEA6004AA68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>479B42951BC4CEA6004AA68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>479B42A01BC4CEA6004AA68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
